<!DOCTYPE html>
<html>
    <head>
        <title>CREATE DID</title>
    </head>
    <body>
        <p>Hello <%= name %></p>
        <% if (flag === 0){ %>
            <p>You can create DID!</p>
            <p>Click "CREATE" button.</p>
            <form action="/createDID" method="post">
                <input required type="text" placeholder="name" name="name">
                <input type="submit" value="CREATE">
            </form>
        <% } else { %>
            <p>you already have DID</p>
        <% } %>
    </body>
</html>