<!DOCTYPE html>
<html>
    <head>
        <title>CREATE DID</title>
    </head>
    <body>
        <% if (flag === 0){ %>
            <h3>You can create DID!</h3>
            <p>Click "CREATE" button.</p>
            <form action="/createDID" method="post">
                <input required type="text" placeholder="name" name="name" autocomplete="off"><br>
                > <input type="submit" value="CREATE">
            </form>
            > <button><a href="/">BACK TO HOME</a></button>
        <% } else { %>
            <h3> Hello <%= name %></h3>
            <p>You already have DID</p>
            > <button><a href="/">BACK TO HOME</a></button>
        <% } %>
    </body>
</html>