<!DOCTYPE html>
<html>
    <head>
        <meta lang="ja">
        <title>2024S_WIP</title>
    </head>
    <body>
        <main>
            <h1><%= cat %>DID/VC</h1>
            <h2>About</h2>
                <p>In this page, you can create your own DID/VC. Your DID will be stored in this page. You can download your VC as text file.</p>
                <p>About DID, please see <a href="https://www.w3.org/TR/did-core/">here</a>.</p>
                <p>About VC, please see <a href="https://www.w3.org/TR/vc-data-model-2.0/">here</a>.</p>
            <h2>Usage</h2>
                <h3>Create DID</h3>
                    <p>First, you have to make your DID to create VC. To make create DID, please click "CREATE DID" button.</p>
                <h3>Create VC</h3>
                    <p>Now you can create your VC. Please click "CREATE VC" button, and enter your username, credentials.</p>
                <h3>Download VC</h3>
                    <p>You can download your VC as text file. Please click "DOWNLOAD VC" button.</p>
                <h3><i>Note</i></h3>
                    <p><i>Name for creating DID/VC shoudn't be conflicted. If you have worry about your name, please see <a href="did">here</a> and find a name which you want to use.</i></p>
            <!---以下のようにやるとなぜかtest.ejsがファイルとして落ちる。謎
                <button><a href="views/test.ejs">CREATE DID</a></button>
            -->
            > <button><a href="createDID">CREATE DID</a></button><br>
            > <button><a href="createVC">CREATE VC</a></button><br>
            > <button><a href="downloadVC">DOWNLOAD VC</a></button>
        </main>
    </body>
</html>