<!DOCTYPE html>
<html>
    <head>
        <title>CREATE VC</title>
    </head>
    <body>
        <h3>DID</h3>
        <p>
            Existing DID:
        </p>
        <% let ary=[]  %>
        <% ary = identifiers %>
        <% ary.forEach((did)=>{ %>
        <% const name = did["alias"] %>
            <p><%= name %></p>
        <% }); %>
        > <button><a href="/">BACK TO HOME</a></button>
    </body>
</html>